
.header{
    max-height: 80.8px;
    background-color: white;
    padding:15px 0 ;
    margin:0 0px;
    top:0px;
    bottom: 0px;
}
.fixed-top{
    position:fixed
}
.header .container{
    position: relative;
}
.container{
    display:flex;
    background-color: white;
    padding: 0px 15px ;
    width: 100vw;
    margin:auto;

}
body {
    font-family: 'Lato', arial, sans-serif;
    color: #444;
}
h1{
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top:0px;
    margin-bottom: 0px;
}
.header h1.logo{
    margin-top:0px;
    margin-bottom:0px;
    text-transform:uppercase;
    font-size:28px;
    max-height: 50px;
    font-weight: bold;
    


}
.pull-left{
    float:left;
}
.header h1.logo a{
    color:#444;
}
.header h1.logo a img{
    margin-right: 5px;
    max-height:50px;
}
img{
    vertical-align: middle;
    border-style: none;
}
.header h1.logo .logo-title{
    vertical-align: middle;
.header-div{
    width:173;
}

 nav .main-nav ul{

 width:100%;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
    position: absolute;
    right: 0px;   

} 
}